<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="logo" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Início</MudNavLink>
    <MudNavLink Href="/lancamentos/historico">Histórico</MudNavLink>
    <MudNavLink Href="/categorias">Categorias</MudNavLink>
    <MudNavLink Href="/sair">Sair</MudNavLink>
</MudNavMenu>